:root {
  --ff-primary: 'Roboto', sans-serif;
  --bg-main: #000;
  --bg-search: #06181C;
  --bg-table: #092D38;
  --bg-odd-row: #041013;
  --bg-even-row: #0a272e;
  --bd-table: #4A808C;
  --crossbar: #4A808C;
  --crossbar-hover: #325861;
  --bd-crossbar: #232C3B;
  --delete-button: #F75A68;
  --placeholder-search: #7C7C8A;
  --primary-white: #E1E1E6;
  --button-favorite: #065E7C;
  --bg-no-favs: #06181C;
  --text-no-favs: #4E5455;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  background-color: var(--bg-main);
  color: var(--primary-white);
  font-family: var(--ff-primary);
}

body * {
  font-family: var(--ff-primary);
}

#app {
  max-width: 1000px;
  margin: 6rem auto;
  padding: 0 4rem;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.search-wrapper {
  width: 70%;
  display: flex;
  align-items: center;
}

input {
  font-size: 1.4rem;
  border: none;
  background-color: var(--bg-search);
  padding: 1.6rem;
  border-radius: 0.5rem;
  margin-right: 0.8rem;
  width: 100%;
  color: var(--primary-white);
  outline: none;
}

input:focus {
  outline: 0.1rem solid var(--bd-table);
}

input::placeholder {
  color: var(--placeholder-search);
}

header button {
  color: var(--primary-white);
  font-size: 1.4rem;
  line-height: 2.4rem;
  border: none;
  background-color: var(--button-favorite);
  padding: 1.2rem 3.2rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
}

header button:hover {
  background-color: var(--primary-white);
  color: var(--button-favorite);
}

header button:focus {
  outline: 0.1rem solid var(--bd-table);
}


/* TABLE */

table * {
  font-size: 2rem;
  line-height: 160%;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: separate;
  border-radius: 1rem;
  overflow: hidden;
  border: 0.2rem solid var(--bd-table);
}

tbody {
  display: block;
  max-height: calc(100vh - 30rem);
  overflow-y: scroll;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

th {
  font-weight: 600;
  background-color: var(--bg-table);
  border-bottom: 0.1rem solid var(--bd-table);
  padding: 2.4rem 4rem;
}

tr {
  background-color: var(--bg-even-row);
}

tr:nth-child(odd) {
  background-color: var(--bg-odd-row);
}

td {
  border-bottom: 0.1rem solid var(--bd-table);
  padding: 1.6rem 4rem;
}

tr:last-child td {
  border-bottom: none;
}

td.user a{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.identification-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

td.user p {
  font-weight: 600;
}

td.user img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
} 

.user {
  width: 45%;
}

.repositories, .followers {
  vertical-align: middle;
  text-align: center;
  width: 20%;
}

.delete {
  vertical-align: middle;
  text-align: center;
  width: 15%;
}

.delete button{
  background-color: transparent;
  color: var(--delete-button);
  border: none;
  cursor: pointer;
  font-size: 4rem;
  transition: transform 0.1s ease;
  margin-left: 1rem;
}

.delete button:hover{
  transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  border-radius: 0.8rem;
  background: var(--bd-crossbar);
}

::-webkit-scrollbar-thumb {
  background: var(--crossbar);
  border-radius: 0.8rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--crossbar-hover);
}

/* NO FAVS */
#no-favs {
  background-color: var(--bg-no-favs);
  height: calc(100vh - 30rem);
  border-radius: 0 0 1rem 1rem;
  border: 0.2rem solid var(--bd-table);
  border-top: none;
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--text-no-favs);
}

#no-favs .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin-bottom: 10rem;
  padding-top: calc(100vh - 75rem);
}

#no-favs img {
  height: 12.5rem;
  width: 12.5rem;
}

.no-favs-border {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.hidden {
  display: none;
}

/* MEDIA QUERIES */
@media (max-width: 767px) {
  header {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: flex-start;
  }

  header button {
    padding: 1.2rem 1.6rem;
  }

  .search-wrapper {
    width: 100%;
  }

  table * {
    font-size: 1.6rem;
    line-height: 100%;
  }

  th {
    padding: 2.4rem 1.6rem;
  }

  td {
    padding: 1.6rem 1.6rem;
    word-wrap: break-word;
  }

  .repositories,
  .followers {
    display: none;
  }

  #no-favs .content-wrapper {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    gap: 1.6rem;
  }
}